Options +FollowSymlinks
Options -Indexes

RewriteEngine On
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php

<FilesMatch "\.(htaccess|htpasswd|inc|log|sql|user|token)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>